@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #5372f0;

}
.wrapper{
    width: 380px;
    background: #fff;
    border-radius: 5px;
    padding: 40px 30px 50px 30px;

}
.wrapper header{
    font-size: 35px;
    font-weight: 600;
}
.wrapper form{
    margin: 40px 0;
}
form .field{
    width: 100%;
    margin-bottom: 20px;
    
}
form .field.shake{
    animation: shake 0.3s ease-in-out;
}

@keyframes shake{
    0%, 100%{
        margin-left: 0;
    }
    20%, 80%{
        margin-left: -12px;
    }
    40%, 60%{
        margin-left: 12px;
    }
}

form .field .input-area{
    position: relative;
}
form input{
    height: 50px;
    width: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    border-radius: 5px;
    border: 2px solid #bfbfbf;
    border-bottom-width: 2px;
}
form .field.error input{
    border-color: #dc3545;
}
form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
}
form .field i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50px);
}
form .field .icon {
    left: 15px;
    color: #bfbfbf;
    top: 70px;
}
form .field .error-icon{
    right: 15px;
    color: #dc3545;
    top: 70px;
}
form .field .error-text{
    color: #dc3545;
    margin-top: 5px;
    text-align: left;
}

form .field .error{
    display: none;
}
form .field.error .error{
    display: block;
}

form .pass-link{
    text-align: left;
    margin-top: -10px;

}
.wrapper a{
    color:#5372f0;
    text-decoration: none;

}
.wrapper a:hover{
    text-decoration: underline;
}
form input[type="submit"]{
    margin-top: 30px;
    border: none;
    color: #fff;
    cursor: pointer;
    background: #5372f0;
    transition: 0.2s ease;
}

input[type="submit"]:hover{
    background: #2c52ed;
}